## load specific functions from tools and robustbase
import(BiocGenerics)
import(methods)
import(xcms, except=plot)
import(CAMERA)
import(utils)
importFrom(tools, file_ext, list_files_with_exts, file_path_sans_ext)
importFrom(robustbase, lmrob)
importFrom(Matrix, Matrix)
importFrom("graphics", "legend", "lines", "plot")
importFrom("stats", "aggregate", "approx", "coef", "cutree", "dist",
           "hclust", "lm", "median", "predict")
importFrom("utils","capture.output", "read.table", "sessionInfo")

## Export all functions that could be useful for users. Not only the
## two toplevel functions runGC and runLC, but also those functions one
## layer lower in abstraction level.
export(runGC, runLC, peakDetection, matchExpSpec,
      read.msp,write.msp,to.msp, addRI, treat.DB, matchSamples2DB, matchSamples2Samples,
       constructExpPseudoSpectra, getFeatureInfo, getAnnotationMat,
       AnnotateTable, plotPseudoSpectrum, processStandards,
       alignmentLC, runCAMERA, getAnnotationLC, getPeakTable,
       createSTDdbGC, createSTDdbLC, readStdInfo,
       generateStdDBGC, generateStdDBLC,
       metaMSsettings, metaSetting)

exportClasses("metaMSsettings")

exportMethods("metaSetting", "metaSetting<-", "show")
